.educationHeader {
    display: flex;
    justify-content: space-between;
}

.addEducation[open] {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
    margin: 12px 12px;
    padding: 24px;
    background-color: white;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1)
}

.addEducation .header {
    display: flex;
    justify-content: space-between;

}
.addEducation form{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.addEducation .educationCol {
    display: flex;
    flex-direction: column;
}

.educationCol:nth-child(-n +2) {
    flex: 2 1 auto
}

.addEducation button {
    width: 100px;
}

.educationListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    gap: 12px
}
.educationListItem .educationDate {
    margin-left: auto;
}

input:invalid {
    border-color: red;
}