:root{
    color: black;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
}


.formSection {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: lightgray;
    padding: 12px 24px;
    margin: none;
    border-radius: 6px;
}

h2 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

input {
    background-color: white;
    color: black;
}

textarea {
    background-color: white;
    color: black;
}