.addJob[open] {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
    margin: 12px 12px;
    padding: 24px;
    background-color: white;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    width: clamp(300px, 100%, 800px)
}

.addJob .header {
    display: flex;
    justify-content: space-between;
    gap: 8px

}

.jobFormRow {
    display: flex;
    align-items: center;
    gap: 8px
}

.jobFormCol {
    display: flex;
    flex-direction: column;
}

#jobTitle {
    flex: 1 1 auto;
}

.deleteButton {
    margin-left: auto;
}

ul {
    list-style: none;
    padding: 0 0 0 0;
}

.jobListItem {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}
.jobHeaderRow {
    display: flex;
    align-items: center;
    gap: 12px;
}

.jobDate {
    margin-left: auto;
}

h4, p {
    margin: 0 0 0 0;
    padding: none;
}

p {
    white-space: pre-wrap;
}