.addJob[open] {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
    margin: 12px 12px;
    padding: 24px;
    background-color: white;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    width: clamp(300px, 100%, 800px)
}

.addJob .header {
    display: flex;
    justify-content: space-between;

}

.jobFormRow {
    display: flex;
    align-items: center;
    gap: 8px
}

.jobFormCol {
    display: flex;
    flex-direction: column;
}

#jobTitle {
    flex: 1 1 auto;
}